#!/bin/bash

# Load GPT credentials from 1Password
export OPENAI_API_KEY="$(op read "op://Personal/GPT_CHINESE/credential")"

# Load Gemini credentials from 1Password
export GEMINI_API_KEY="$(op read "op://Personal/GEMINI_API_KEY/credential")"

# Load ChatGLM credentials from 1Password
export CHAT_GLM_API_KEY="$(op read "op://Personal/CHAT_GLM_API_KEY/credential")"

export DASHSCOPE_API_KEY="$(op read "op://Personal/DASHSCOPE_API_KEY/credential")"

export TENCENT_SECRET_ID="$(op read "op://Personal/TENCENT_ZH_LEARN/username")"
export TENCENT_API_KEY="$(op read "op://Personal/TENCENT_ZH_LEARN/credential")"


# Load DeepSeek credentials from 1Password
export DEEPSEEK_API_KEY="$(op read "op://Personal/DEEPSEEK_API_KEY/credential")"

export DASHSCOPE_API_KEY="$(op read "op://Personal/DASHSCOPE_API_KEY/credential")"

export TENCENT_SECRET_ID="$(op read "op://Personal/TENCENT_ZH_LEARN/username")"
export TENCENT_API_KEY="$(op read "op://Personal/TENCENT_ZH_LEARN/credential")"


export AZURE_LANGUAGE_ENDPOINT="$(op read "op://Personal/AZURE_COGNITIVE_SERVICES/endpoint")"
export AZURE_LANGUAGE_KEY="$(op read "op://Personal/AZURE_COGNITIVE_SERVICES/credential")"

export FORVO_API_KEY="$(op read "op://Personal/FORVO_API_KEY/credential")"
